{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>This practical 10</h1>
    <h2>the content are available</h2>
    <ul>
        <li>car.py</li>
        <li>wiki.py</li>
        <li>the delivery are on this</li>
    </ul>
<div align="center">👋HELLO WORLD👋</div>


<p># **🚀 About Me**</p>


- 🎓 I am THeeradon Somsri(call me C it's ok), study in Jame cook University(Singapore Campus) Major: information and technology minor: Computer Science and networking


- 👨‍💻 MY main langue coding == Python Secondary == c/c++ and HTML full stack prefer :: DataScience, ML, Also AI Interrest --> AI, IOT, Crypto, and software alogorithm


- ⚡️ Fun fact: Freedom is a good thing, but research is better(If i interest it~~).


#### <div align="center">################I Love to do experiments for the new things#############</div>


## 😊personality😊


- 🎸 Out of the monitor I prefer photography and hangout. I am friendly and like to help others, I very hardworking and learning. If that content I interest I can study very fast~~~


- 📚 I love to read a text and journal, there are alot of interesting and have alot of new thing that make me surprise a lot of time!!!


- 📷 I really love on photography I really record my beautiful memory on my life. 😊
    </p>


<br/>



<br/>


<br />
{% endblock %}